# Игнорировать папку с результатами сборки
target/

# Игнорировать lock-файл, если это библиотека (для бинарных проектов оставить)
# Cargo.lock

# Игнорировать файлы окружения
.env


# Игнорировать временные файлы и артефакты
*.d
*.json
*.dylib
*.rlib
*.so
*.dll
